[Unit]
Description=Home Assistant

[Container]
AutoUpdate=registry
ContainerName=homeassistant
Environment=TZ=Europe/Berlin
GroupAdd=keep-groups
Image=ghcr.io/home-assistant/home-assistant:stable
Pod=home.pod
Volume=homeassistant-config.volume:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
