[Unit]
Description=ZigBee2MQTT

[Container]
AddDevice=/dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_489bdfc0246bef1191079fadc169b110-if00-port0:/dev/ttyUSB0
AutoUpdate=registry
ContainerName=homeassistant-z2mqtt
Environment=TZ=Europe/Berlin
GroupAdd=keep-groups
Image=ghcr.io/koenkk/zigbee2mqtt
Pod=homeassistant.pod
Volume=/run/udev:/run/udev:ro
Volume=homeassistant-z2mqtt-data:/app/data

[Service]
Restart=always

[Install]
WantedBy=default.target
