[Unit]
Description=Music Assistant PO Token Generator

[Container]
AutoUpdate=registry
ContainerName=musicassistant-token
Environment=TZ=Europe/Berlin
GroupAdd=keep-groups
Image=docker.io/brainicism/bgutil-ytdlp-pot-provider:latest
Pod=homeassistant.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
