[Unit]
Description=Chapter Book Downloader

[Container]
AutoUpdate=registry
ContainerName=chaptarr
Environment=TZ=Europe/Berlin
Environment=PUID=0
Environment=PGID=0
Image=docker.io/robertlordhood/chaptarr:latest
Pod=media.pod
Volume=chaptarr-config.volume:/config
Volume=/var/home/administrator/data/arr-suite:/arr-suite:z

[Service]
Restart=always

[Install]
WantedBy=default.target
