[Unit]
Description=Ersatztv

[Container]
AddDevice=/dev/dri:/dev/dri:rw
AutoUpdate=registry
ContainerName=ersatztv
Environment=TZ=Europe/Berlin
GroupAdd=keep-groups
Image=ghcr.io/ersatztv/ersatztv:latest
Pod=media.pod
Volume=ersatztv-config.volume:/config
Volume=/var/home/administrator/data/arr-suite:/arr-suite:z

[Service]
Restart=always

[Install]
WantedBy=default.target
