[Unit]
Description=Jellyfin Media Server

[Container]
AutoUpdate=registry
ContainerName=jellyfin-vue
Environment=TZ=Europe/Berlin
Image=ghcr.io/jellyfin/jellyfin-vue:unstable
Pod=media.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
