[Unit]
Description=Profilarr

[Container]
AutoUpdate=registry
ContainerName=profilarr
Environment=TZ=Europe/Berlin
Image=docker.io/santiagosayshey/profilarr:latest
Pod=media.pod
Volume=profilarr-config.volume:/config

[Service]
Restart=always

[Install]
WantedBy=default.target


