[Unit]
Description=Profilarr

[Container]
AutoUpdate=registry
ContainerName=profilarr
Environment=TZ=Europe/Berlin
Image=ghcr.io/dictionarry-hub/profilarr-parser:latest
Pod=media.pod

[Service]
Restart=always

[Install]
WantedBy=default.target


