[Unit]
Description=Profilarr

[Container]
AutoUpdate=registry
ContainerName=profilarr
Environment=TZ=Europe/Berlin
Environment=PARSER_HOST=profilarr-parser
Environment=PARSER_PORT=5000
Image=ghcr.io/dictionarry-hub/profilarr:latest
Pod=media.pod
Volume=profilarr-config:/config

[Service]
Restart=always

[Install]
WantedBy=default.target


