[Unit]
Description=Radarr Movie Downloader

[Container]
AutoUpdate=registry
ContainerName=radarr
Environment=TZ=Europe/Berlin
Environment=PUID=0
Environment=PGID=0
Image=lscr.io/linuxserver/radarr:latest
Pod=media.pod
Volume=radarr-config.volume:/config
Volume=/var/home/administrator/data/arr-suite:/arr-suite:z

[Service]
Restart=always

[Install]
WantedBy=default.target
