[Unit]
Description=Tdarr

[Container]
AddDevice=/dev/dri:/dev/dri:rw
ContainerName=tdarr
AutoUpdate=registry
Environment=TZ=Europe/Berlin
Environment=PUID=0
Environment=PGID=0
#Environment=UMASK_SET=002
Environment=serverIP=0.0.0.0
Environment=serverPort=8266
Environment=webUIPort=8265
Environment=internalNode=true
Environment=inContainer=true
Environment=ffmpegVersion=7
Environment=nodeName=InterneNode
Environment=auth=false
Environment=openBrowser=true
Environment=maxLogSizeMB=10
Environment=cronPluginUpdate=
Image=ghcr.io/haveagitgat/tdarr:latest
#UIDMap=1001:1001
#GIDMap=1001:1001
GroupAdd=keep-groups
Pod=media.pod
Volume=tdarr-cache:/temp
Volume=tdarr-data:/app/server
Volume=tdarr-config:/app/configs
Volume=tdarr-logs:/app/logs
Volume=/var/home/administrator/data/arr-suite:/media:z



[Service]
Restart=always

[Install]
WantedBy=default.target
