[Unit]
Description=Authentik Server

[Container]
AutoUpdate=registry
ContainerName=authentik-server
Environment=AUTHENTIK_REDIS__HOST=localhost
Environment=AUTHENTIK_POSTGRESQL__HOST=localhost
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_BOOTSTRAP_LDAPSERVICE_USERNAME=ldapservice
Environment=AUTHENTIK_BOOTSTRAP_LDAP_BASEDN=DC=chrayed,DC=de
Environment=AUTHENTIK_BOOTSTRAP_LDAPSERVICE_USERNAME=ldapservice
Environment=AUTHENTIK_EMAIL__HOST=smtp.purelymail.com
Environment=AUTHENTIK_EMAIL__PORT=465
Environment=AUTHENTIK_EMAIL__USERNAME=mohamed@chrayed.de
Environment=AUTHENTIK_EMAIL__USE_TLS=true
Environment=AUTHENTIK_EMAIL__FROM=mohamed@chrayed.de
Exec=server
Image=ghcr.io/goauthentik/server:2025.8
Pod=authentik.pod
Secret=authentik-database-password,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=authentik-secret-key,type=env,target=AUTHENTIK_SECRET_KEY
Secret=authentik-ldap-password,type=env,target=AUTHENTIK_BOOTSTRAP_LDAPSERVICE_PASSWORD
Secret=mail-password,type=env,target=AUTHENTIK_EMAIL__PASSWORD
Volume=authentik-media.volume:/media
Volume=authentik-templates.volume:/templates

[Service]
Restart=always

[Install]
WantedBy=default.target
