[Unit]
Description=Immich App

[Container]
ContainerName=immich-server
AutoUpdate=registry
GroupAdd=keep-groups
AddDevice=/dev/dri:/dev/dri:rw
Environment=TZ=Europe/Berlin
Environment=SERVER_HOST=0.0.0.0
Environment=SERVER_PORT=8080
Environment=MACHINE_LEARNING_HOST=0.0.0.0
Environment=PUID=1000
Environment=PGID=1000
Environment=REDIS_HOSTNAME=immich-redis
Environment=DB_HOSTNAME=immich-database
Environment=DB_USERNAME=immich
Environment=DB_DATABASE_NAME=immich
Secret=immich-database-password,type=env,target=DB_PASSWORD
Image=ghcr.io/imagegenius/immich:openvino
Pod=immich.pod
Volume=immich-data:/data
Volume=immich-photos:/photos

[Service]
Restart=always

[Install]
WantedBy=default.target
