[Unit]
Description=Komga

[Container]
ContainerName=komga
AutoUpdate=registry
Environment=TZ=Europe/Berlin
Image=docker.io/gotson/komga:latest
Pod=manga.pod
User=1001
Volume=/var/home/administrator/data/arr-suite/medien/manga:/manga:z
Volume=komga-config.volume:/config
Volume=komga-data.volume:/data
Volume=komga-temp.volume:/tmp

[Service]
Restart=always

[Install]
WantedBy=default.target
