[Unit]
Description=Suwayomi

[Container]
ContainerName=suwayomi
AutoUpdate=registry
Environment=TZ=Europe/Berlin
Environment=FLARESOLVERR_ENABLED=true
Environment=FLARESOLVERR_URL=http://flaresolverr:8191
Image=ghcr.io/suwayomi/suwayomi-server:latest
User=1001
Pod=manga.pod
Volume=suwayomi-config:/home/suwayomi/.local/share/Tachidesk
Volume=/var/home/administrator/data/arr-suite/medien/manga:/home/suwayomi/Downloads/mangas:z

[Service]
Restart=always

[Install]
WantedBy=default.target
