[Unit]
Description=Semaphore

[Container]
AutoUpdate=registry
ContainerName=semaphore
Environment=TZ=Europe/Berlin
Image=docker.io/semaphoreui/semaphore:latest
Environment=SEMAPHORE_WEB_ROOT=/
Environment=SEMAPHORE_DB_DIALECT=bolt
Environment=SEMAPHORE_ADMIN=admin
Secret=semaphore-password,type=env,target=SEMAPHORE_ADMIN_PASSWORD
Environment=SEMAPHORE_ADMIN_NAME=Administrator
Pod=semaphore.pod
Volume=semaphore-config.volume:/etc/semaphore
Volume=semaphore-data.volume:/var/lib/semaphore
Volume=semaphore-temp.volume:/tmp/semaphore

[Service]
Restart=always

[Install]
WantedBy=default.target
